---
import BaseLayout from '../../layouts/BaseLayout.astro';
import PostList from '../../components/PostList.astro';
import RandomPost from '../../components/RandomPost.astro';
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import { comparePostsByDate } from '../../utils/comparePostsByDate';

const allPosts = await getCollection("blog");
const sortedPosts = allPosts.sort(
    (a: CollectionEntry<'blog'>, b: CollectionEntry<'blog'>) => comparePostsByDate(a, b)
);
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
    <h2>Posts</h2>
    <div class="postBody">
        <p>I highly encourage you to wander through my writings in a random, nonlinear fashion. Here's a nice, hearty button for that.</p>
        <br />
        <RandomPost />
        <br />
        <p>Otherwise, the all foot traffic will disproportionately visit the latest few posts, and I think that would be a shame.</p>
        <p>But for the completists, this is a list of all posts on the site.</p>
    </div>
    <br />
    <PostList posts={sortedPosts} />
</BaseLayout>