---
import BaseLayout from '../../layouts/BaseLayout.astro';
import PostList from '../../components/PostList.astro';
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import { comparePostsByDate } from '../../utils/comparePostsByDate';

const allPosts = await getCollection("blog");
const sortedPosts = allPosts.sort(
    (a: CollectionEntry<'blog'>, b: CollectionEntry<'blog'>) => comparePostsByDate(a, b)
);
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
    <h2>Posts</h2>
    <p>This is a list of all posts on the site.</p>
    <PostList posts={sortedPosts} />
</BaseLayout>