---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import { getPostParams } from '../../utils/postParams.ts';

const allPosts = await getCollection("blog");
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
    <h2>Posts</h2>
    <p>This is a list of all posts on the site.</p>
    <ul>
        {allPosts.map((post: any) => {
            const { path } = getPostParams(post);

            return (
            <li>
                <span class="pubDate">{post.data.pubDate.toISOString().slice(0, 10)}</span>
                <a href={`/posts/${path}/`}>{post.data.title}</a>
            </li>
            )
        })}
    </ul>
</BaseLayout>