/* @import 'https://fonts.googleapis.com/css?family=Spectral:200'; */

html {
    background-color: #faf5ef; /* Linen */
    color: #2c2c28; /* Graphite */
}

html.dark {
    background-color: #1e1b16; /* Warm Charcoal */
    color: #eae4d8; /* Antique Paper */
}

body {
    font-family: 'Spectral', sans-serif;
    font-weight: 300;
    text-align: justify;
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
}

h1 {
    text-align: center;
    margin: 1rem 0;
    font-size: 3rem;
    font-weight: 300;
}

h2 {
    text-align: center;
    font-weight: 300;
}

h3 {
    text-align: center;
}

strong {
    font-weight: 600;
}

a {
    color: #3A5FCD; /* Oxford Blue */
}

a:visited {
    color: #7E5A9B; /* Dusty Lavender */
}

html.dark a {
    color: #A6C4FF; /* Dusky Cornflower */
}

html.dark a:visited {
    color: #C5A3E0; /* Faded Lilac */
}

/* blog button */

.blog-button a {
    color: #6B7280;
    background-color: #F8FCFD;  
}

.blog-button a:link {
    /* color: #6B7280;
    background-color: #F8FCFD;   */
    text-decoration: none;
}

.blog-button a:visited {
    /* color: #6B7280;
    background-color: #F8FCFD;   */
    text-decoration: none;
}

.blog-button a:hover {
    /* color: #6B7280;
    background-color: #F8FCFD;   */
    text-decoration: underline;
}

html.dark .blog-button a {
    color: #D6D3D1; /* Pearl Stone */
    background-color: #3F3B36; /* Ashen Stone */
}

/* nav-links */

.nav-links {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.nav-links .nav-link {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: .5em;
    padding: .25em .5em;
    font-size: 1em;
}

.nav-links .nav-site-icon {
    margin-right: auto;
}

.nav-links .nav-theme-toggle-button {
    margin-left: auto;
}

html.dark .nav-links .nav-link {
    color: #D6D3D1; /* Pearl Stone */
    background-color: #3F3B36; /* Ashen Stone */
}

/* prev-next-nav-links */

.prev-next-nav-links p {
    color: #6B7280; /* Slate Gray */
    font-size: 0.9em;
    text-align: center;
}

.prev-next-nav-links table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    /* margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; */
}

.prev-next-nav-links tr td {
    padding: 5px;
    text-justify: center;
}

.prev-next-nav-links tr td:nth-child(1) {
    width: 40%;
    text-align: left;
}

.prev-next-nav-links tr td:nth-child(2) {
    width: 20%;
    text-align: center;
}

.prev-next-nav-links tr td:nth-child(3) {
    width: 40%;
    text-align: right;
}

.prev-next-nav-links .nav-link {
    margin: 0.25rem;
    border: dotted 1px #a1a1a1;
    border-radius: .5em;
    padding: .25em .5em;
    color: #6B7280; /* Slate Gray */
    font-size: 0.75em;
    text-align: center;
    background-color: #F8FCFD;
}

html.dark .prev-next-nav-links .nav-link {
    color: #D6D3D1; /* Pearl Stone */
    background-color: #3F3B36; /* Ashen Stone */
}

/* prev-next-date-links */

.prev-next-date-links table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

.prev-next-date-links tr td {
    padding: 10px;
    text-justify: center;
}

.prev-next-date-links tr td:nth-child(1) {
    text-align: left;
}

.prev-next-date-links tr td:nth-child(2) {
    text-align: right;
}

.prev-next-date-links .nav-link {
    display: inline-block;
    margin: 0.25rem;
    border: dotted 1px #a1a1a1;
    border-radius: .5em;
    padding: .5em .75em;
    color: #6B7280; /* Slate Gray */
    font-size: 0.9em;
    text-align: center;
    background-color: #F8FCFD;
}

html.dark .prev-next-date-links .nav-link {
    color: #D6D3D1; /* Pearl Stone */
    background-color: #3F3B36; /* Ashen Stone */
}

/* postBody */

.postBody {
    text-align: justify;
}

.postBody p {
    text-indent: 2em;
    line-height: 1.5;
    margin: 5px 0;
}

.postBody .small-caps {
    font-variant: small-caps;
}

.postBody .ipa {
    font-family: Courier, monospace;
}

/* PostList */

.postList td {
    padding: 1px 5px;
}

/* pubDate */

.pubDate {
    font-size: 0.9em;
    color: #6B7280; /* Slate Gray */ 
    text-align: center;
}

.pubDate a {
    color: #6B7280; /* Slate Gray */
}

.pubDate a:link {
    color: #6B7280;
    text-decoration: none;
}

.pubDate a:visited {
    color: #6B7280;
}

.pubDate a:hover {
    text-decoration: underline;
}

html.dark .pubDate a {
    color: #9CA3AF; /* Cool Silver */
}

/* random-post */

.random-post {
    text-align: center;
    text-indent: 0;
}

.random-post .nav-link {
    margin: 0.25rem;
    border: dotted 1px #a1a1a1;
    border-radius: .5em;
    padding: .5em .75em;
    display: inline-block;
    flex-wrap: wrap;
    color: #6B7280; /* Slate Gray */
    font-size: 0.9em;
    text-align: center;
    background-color: #F8FCFD;
}

html.dark .random-post .nav-link {
    color: #D6D3D1; /* Pearl Stone */
    background-color: #3F3B36; /* Ashen Stone */
}

/* tags */

.tag-list p {
    color: #6B7280; /* Slate Gray */
    font-size: 0.9em;
    text-align: center;    
}

.tags {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: .5em;
    padding: .25em .5em;
    font-size: 0.75em;
    color: #6B7280; /* Slate Gray */
    background-color: #F8FCFD;
    display: inline-block;
    vertical-align: middle;
}

html.dark .tag {
    color: #D6D3D1; /* Pearl Stone */
    background-color: #3F3B36; /* Ashen Stone */
}

/* Markdown post formatting stuff */

/* commentary */

.commentary {
    font-family: 'Inter', sans-serif;
    text-align: right;
    color: #A0522D;
    font-size: 0.8em;
    margin: 2rem 0 2rem 50px;
}

html.dark .commentary {
    color: #D4A373; /* Tawny Sand */
}

/* content-warning */

.content-warning {
    font-family: 'Inter', sans-serif;
    text-align: left;
    font-size: 0.8em;
    margin: 2rem 50px 2rem 0;
    text-indent: 0;
    color: #D72638; /* Crimson Fire */
}

html.dark .content-warning {
    color: #FFABA8; /* Blush Rose */
}

/* email metadata */

.email-metadata {
    font-family: Courier, monospace;
    font-size: 0.9em;
    text-align: left;
    text-indent: 0;
}

/* text-message */

.text-timestamp {
    font-size: 0.8em;
    color: #6B7280; /* Slate Gray */ 
    text-indent: 0;
    text-align: center;
    justify-content: center;
}

.sent-message-wrapper {
    text-align: right;
    text-indent: 0;
}

.text-message-sent {
    font-family: Inter, sans-serif;
    margin: .1em;
    display: inline-block;
    flex-wrap: wrap;
    border: solid 0px #a1a1a1;
    border-radius: .5em;
    padding: .4em .6em;
    font-size: 0.85em;
    color: #ffffff;
    background-color: #007aff;
    text-indent: 0;
    text-align: justify;
}

.received-message-wrapper {
    text-align: left;   
    text-indent: 0;
}

.text-message-received {
    font-family: Inter, sans-serif;
    margin: .1em;
    display: inline-block;
    flex-wrap: wrap;
    border: solid 0px #a1a1a1;
    border-radius: .5em;
    padding: .4em .6em;
    font-size: 0.85em;
    color: black;
    background-color: #d3d3d3;
    text-indent: 0;
    text-align: justify;
}

/* quote-attribution */

.quote-attribution {
    text-align: right;
}

/*
    MarkdownPostLayout Elements and Colours
*/

#postDate {
    text-align: center;
    margin-bottom: 5px;
}

#postTitle {
    margin-top: 5px;
    margin-bottom: 40px;
}

#tags-text, #more-posts-text {
    color: #6B7280; /* Slate Gray */
    font-size: 0.9em;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
}

html.dark #tags-text, html.dark #more-posts-text {
    color: #9CA3AF; /* Cool Silver */
}

.section-header {
    color: #6B7280; /* Slate Gray */
    font-size: 1em;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;   
}

/*
    Plays
*/

.play-sceneheader {
    font-variant: small-caps;
    text-indent: 0;
    text-align: center;
}

.play-character {
    text-indent: 0;
    text-align: center;
}

.play-dialogue,
.play-setting {
    text-align: justify;
    text-indent: 0;
}

.play-action,
.play-parenthetical {
    font-style: italic;
}

/*
    Screenplays

    CSS from https://johnaugust.com/2004/screenbox
*/

.screenbox {
    font-family: 'Courier New', Courier, monospace;
	list-style: none;
	width: 100% - 30px;
	background: #f7f7f7;
	border: 1px solid #333;
    border-style: solid;
    box-shadow: 2px 1px 1px gray;
	padding: 5px 14px;
    text-indent: 0;
}

html.dark .screenbox {
    background: #080808;
    color: #ffffff;
    border: 1px solid #bbb;
    border-style: solid;
    box-shadow: 2px 1px 1px gray;
}

.screenbox li {
	font: 14px Courier, fixed;
}

.sceneheader,
.action,
.character {
	padding-top: 1.5ex;
}

.action {
	padding-right: 5%;
}

.character {
	margin-left: 40%;
}

.dialogue {
	margin-left: 25%;
	padding-right: 25%;
}

.parenthetical {
	margin-left: 32%;
	padding-right: 30%;
}

/* special case: dialogue followed by
a parenthetical; the extra line needs 
to be suppressed */

.dialogue + .parenthetical {
	padding-bottom: 0;
}

.transition {
	padding-top: 3ex;
	margin-left: 65%;
	padding-bottom: 1.5ex;
}