/* @import 'https://fonts.googleapis.com/css?family=Spectral:200'; */

* {
    font-family: 'Spectral', sans-serif;
    font-weight: 200;
}

html {
    background-color: #faf5ef;
}

body {
    text-align: justify;
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
}

h1 {
    text-align: center;
    margin: 1rem 0;
    font-size: 3rem;

}

h2 {
    text-align: center;
}

ul {
    list-style-type: none;
}

/* tags */

.tags {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: .5em;
    padding: .25em .5em;
    font-size: 1em;
    background-color: #F8FCFD;
}

/* nav-links */

.nav-links {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-links .nav-link {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: .5em;
    padding: .25em .5em;
    font-size: 1em;
    background-color: #F8FCFD;  
}

/* pubDate */

.pubDate {
    font-size: 0.9em;
    color: #a1a1a1;
    text-align: center;
}