/* @import 'https://fonts.googleapis.com/css?family=Spectral:200'; */

html {
    background-color: #faf5ef;
}

body {
    font-family: 'Spectral', sans-serif;
    font-weight: 300;
    text-align: justify;
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
}

h1 {
    text-align: center;
    margin: 1rem 0;
    font-size: 3rem;
}

h2 {
    text-align: center;
}

/* nav-links */

.nav-links {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-links .nav-link {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: .5em;
    padding: .25em .5em;
    font-size: 1em;
    background-color: #F8FCFD;  
}

.nav-links .nav-link:link {
    text-decoration: none;
}

.nav-links .nav-link:visited {
    color: #6B7280;
}

.nav-links .nav-link:hover {
    text-decoration: underline;
}

/* prev-next-nav-links */

.prev-next-nav-links p {
    color: #6B7280; /* Slate Gray */
    font-size: 0.9em;
    text-align: center;
}

.prev-next-nav-links table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    /* margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; */
}

.prev-next-nav-links tr td {
    padding: 5px;
    text-justify: center;
}

.prev-next-nav-links tr td:nth-child(1) {
    width: 40%
}

.prev-next-nav-links tr td:nth-child(2) {
    width: 20%
}

.prev-next-nav-links tr td:nth-child(3) {
    width: 40%
}

.prev-next-nav-links .nav-link {
    margin: 0.25rem;
    border: dotted 1px #a1a1a1;
    border-radius: .5em;
    padding: .25em .5em;
    color: #6B7280; /* Slate Gray */
    font-size: 0.75em;
    text-align: center;
    background-color: #F8FCFD;
}

.prev-next-nav-links .nav-link a:link {
    text-decoration: none;
}

.prev-next-nav-links .nav-link a:visited {
    color: #6B7280;
}

.prev-next-nav-links .nav-link a:hover {
    text-decoration: underline;
}

/* postBody */

.postBody {
    text-indent: 2em;
    text-align: justify;
}

.postBody p {
    line-height: 1.5;
    margin: 5px 0;
}

/* PostList */

.postList td {
    padding: 1px 5px;
}

/* pubDate */

.pubDate {
    font-size: 0.9em;
    color: #6B7280; /* Slate Gray */ 
    text-align: center;
}

.pubDate a:link {
    color: #6B7280;
    text-decoration: none;
}

.pubDate a:visited {
    color: #6B7280;
}

.pubDate a:hover {
    text-decoration: underline;
}

/* tags */

.tag-list p {
    color: #6B7280; /* Slate Gray */
    font-size: 0.9em;
    text-align: center;    
}

.tags {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: .5em;
    padding: .25em .5em;
    font-size: 0.75em;
    color: #6B7280; /* Slate Gray */
    background-color: #F8FCFD;
}

.tag a:link {
    text-decoration: none;
    color: #6B7280; /* Slate Gray */
}

.tag a:visited {
    color: #6B7280; /* Slate Gray */
}

.tag a:hover {
    text-decoration: underline; /* Slate Gray */
}

/* Markdown post formatting stuff */

/* commentary */

.commentary {
    font-family: 'Inter', sans-serif;
    text-align: right;
    color: #A0522D;
    font-size: 0.8em;
    margin: 2rem 0 2rem 50px;
}

/* quote-attribution */

.quote-attribution {
    text-align: right;
}

/* screenplay */

.screenplay {
    font-family: 'Courier New', Courier, monospace;
}

.screenplay .center {
    text-align: center;
}

