---
import BaseLayout from '../layouts/BaseLayout.astro';
import RandomPost from '../components/RandomPost.astro';
---

<BaseLayout>
	<h2>404 Not Found</h2>
	<div class="postBody">
		<p>Oh dear, we've made a mess of ourselves, haven't we? Let's just pretend this never happened. Right this way, darling.</p>
		<RandomPost />
		<p>Move along now. Chop chop.</p>
	</div>
</BaseLayout>