---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
	<h2>About</h2>
	<div class="postBody">
		<p><i>Kitten Carnival</i> is a selection of my writings, which began as a file in my Google Drive named <i>Pensieri</i> (it's Italian for "thoughts"). Its subtitle was <i>Fifty Words a Day That Nobody Else Will Read</i>, which may illuminate how this project came to be. In late January 2022, I resolved to write at least fifty words a day...</p>

<!-- flex writing muscles, feel the joy of writing -->

		<br />

		<h3>Frequently Asked Questions</h3>

		<p><i>Where does the name </i>Kitten Carnival<i> come from?</i></p>
		<p>Nowhere in particular. Just two words which I thought might go together nicely. Also, the <code>kittencarnival.com</code> domain name was available, whereas <code>pensieri.com</code> was not.</p>
	</div>
	
</BaseLayout>