---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
	<h2>About</h2>
	<div class="postBody">
		<p><i>Kitten Carnival</i> was born in early 2022 as a file in my Google Drive named <i>Pensieri</i> (it's Italian for "thoughts"). It had a subtitle, <i>Fifty Words a Day That Nobody Else Will Read</i>, which was also its guiding principle. I'd always vaguely felt that I ought to try writing more, and in order to be a writer you actually have to find a time to hunker down and write. Fifty words a day seemed reasonable. Also, I found I had to free myself of the expectation that the writing had to be, well, good. So I resolved that no one would ever read it. This did the trick. I had a private space for me to spill raw verbiage onto a screen. A diary, so to speak, without the restraint that the entries needed to have anything to do with my life.</p>
		<p>I highly recommend it, by the way, if the thought <i>I should try writing more</i> has ever crossed your mind too.</p>
		<p>Eventually I began to feel that some of the entries were, well, halfway decent, and probably worth sharing. Or at least, it would be a shame to keep them locked away for eternity. So, very occasionally, I violated the second clause and shared a few selections privately with friends. Now, here you go.</p>
		<p>(By the time I stopped writing <i>Pensieri</i>, it had blossomed into a 500-page behemoth. <i>Kitten Carnival</i> contains roughly half of that, the entries I've deemed fit to share. I've cleaned up a bit of the prose and added some <span style="font-family: 'Inter', sans-serif; font-size: 0.9em; color: #A0522D;">commentary</span> and <span class="small-caps" style="font-family: 'Inter', sans-serif; font-size: 0.9em; color: #D72638;">content warning</span>s as appropriate.)</p>

		<br />

		<h3>Frequently Asked Questions</h3>

		<p><i>Where does the name </i>Kitten Carnival<i> come from?</i></p>
		<p>Nowhere in particular. Just two words which I thought might go together nicely. Also, the <code>kittencarnival.com</code> domain name was available, whereas <code>pensieri.com</code> was not.</p>

		<br />

		<p><i>Who are all these characters who keep popping up in your work?</i></p>
		<p>They're all fictional. Rest assured that none of them are real people. Public figures and celebrities excepted.</p>

		<br />

		<p><i>Why does it kinda trail off in early 2023?</i></p>
		<p>At that point in my life, swing dancing took over all my free time. You oughta try it.</p>

		<br />
	</div>
	
</BaseLayout>