---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
	<h2>About</h2>
	<div class="postBody">
		<p>This collection of writings began as a file in my Google Drive named <i>Pensieri</i>.</p>
	</div>
	
</BaseLayout>