---
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spectral">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Kitten Carnival</title>
	</head>
	<body>
		<h1>Kitten Carnival</h1>
		<h2>Collected writings</h2>
		<p>Body text</p>
	</body>
</html>
