---
import BaseLayout from '../layouts/BaseLayout.astro';
import RandomPost from '../components/RandomPost.astro';
---

<BaseLayout>
	<h2>Welcome to <i>Kitten Carnival</i>!</h2>
	<div class="postBody">
		<p><i>Kitten Carnival</i> is a selection of my writings.</p>
		<RandomPost />
	</div>
</BaseLayout>
