---
import BaseLayout from '../layouts/BaseLayout.astro';
import RandomPost from '../components/RandomPost.astro';
---

<BaseLayout>
	<h2>Home</h2>
	<div class="postBody">
		<p><i>Kitten Carnival</i> is a selection of my writings.<!-- To begin exploring, here's a button which will take you to a random post.--></p>
		<br />
		<RandomPost />
	</div>
</BaseLayout>
