---
// import BaseLayout from '../layouts/BaseLayout.astro';
---
<!-- 
<BaseLayout>
	<script type="module">
		fetch('/api/random')
			.then(res => res.json())
			.then(({ url }) => window.location.href = url);
	</script>
</BaseLayout> -->

<html>
	<style>
		body {
			background-color: #faf5ef; /* Linen */
		}
		html.dark body {
			background-color: #1e1b16; /* Warm Charcoal */
		}
	</style>
	<script is:inline>
		// This sets the background colour according to the theme so we avoid a FOUC
		// (Flash Of Unstyled Content)
		(function() {
			const theme = (() => {
				const localStorageTheme = localStorage?.getItem("theme") ?? '';
					if (['dark', 'light'].includes(localStorageTheme)) {
						return localStorageTheme;
					}
					if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
						return 'dark';
					}
					return 'light';
			})();
			if (theme === 'light') {
				document.documentElement.classList.remove('dark');
			} else {
				document.documentElement.classList.add('dark');
			}
		})();
	</script>
	<head>
		<meta charset="UTF-8" />
		<title>Redirecting...</title>
	</head>
	<body>
		<script type="module">
			fetch('/api/random')
				.then(res => res.json())
				.then(({ url }) => window.location.replace(url));
		</script>
	</body>
</html>