---
// import BaseLayout from '../layouts/BaseLayout.astro';
---
<!-- 
<BaseLayout>
	<script type="module">
		fetch('/api/random')
			.then(res => res.json())
			.then(({ url }) => window.location.href = url);
	</script>
</BaseLayout> -->

<html>
	<style>
		body {
		    background-color: #faf5ef;
		}
	</style>
	<head>
		<meta charset="UTF-8" />
		<title>Redirecting...</title>
	</head>
	<body>
		<script type="module">
			fetch('/api/random')
				.then(res => res.json())
				.then(({ url }) => window.location.href = url);
		</script>
	</body>
</html>