---
import { getPostParams } from '../utils/postParams.ts';

const { posts } = Astro.props;
---

<ul>
    {posts.map((post: any) => {
        const { path } = getPostParams(post);

        return (
        <li>
            <span class="pubDate">{post.data.pubDate.toISOString().slice(0, 10)}</span>
            <a href={`/posts/${path}/`}>{post.data.title}</a>
        </li>
        )
    })}
</ul>
