---
import { getPostParams } from '../utils/postParams.ts';

const { posts } = Astro.props;
---

<table class="postList">
    {posts.map((post: any) => {
        const { path } = getPostParams(post);

        return (
        <tr>
            <td><span class="pubDate">{post.data.pubDate.toISOString().slice(0, 10)}</span></td>
            <td><a href={`/posts/${path}/`}>{post.data.title}</a></td>
        </tr>
        )        
    })}
</table>
