---
import { getCollection } from 'astro:content';
import { getPostParams } from '../utils/postParams';
import { getRandomInt } from '../utils/getRandomInt';

const posts = await getCollection('blog');

const randomPost = posts[getRandomInt(0, posts.length)];

const randomPostPath = getPostParams(randomPost).path;

---

<div class="random-post">
    <div class="nav-link">
        <a href={`/posts/${randomPostPath}/`}>Random Post</a>
    </div>
</div>

