---
import BaseLayout from '../../../../layouts/BaseLayout.astro';
import PostList from '../../../../components/PostList.astro';
import { getPostParams } from '../../../../utils/postParams.ts'
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
    const posts = await getCollection('blog');
    return posts.map(post => ({
        params: getPostParams(post), props: { post },
    }));
}

const { year, month } = Astro.params;
const allPosts = await getCollection("blog");
const monthPosts = allPosts.filter(
    (post: any) => {
        const postParams = getPostParams(post);

        return year == postParams.year && month == postParams.month;
    }
);

---

<BaseLayout>
	<h2>Monthly archive: {year}-{month}</h2>
    <PostList posts={monthPosts} />
</BaseLayout>
