---
import BaseLayout from '../../../../../layouts/BaseLayout.astro';
import { getPostParams } from '../../../../../utils/postParams.ts'
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
    const posts = await getCollection('blog');
    return posts.map(post => ({
        params: getPostParams(post), props: { post },
    }));
}

const { year, month, day } = Astro.params;

---

<BaseLayout>
	<p>Day index page for {year}/{month}/{day}</p>
</BaseLayout>
