---
import BaseLayout from '../../../../../layouts/BaseLayout.astro';
import PostList from '../../../../../components/PostList.astro';
import { getPostParams } from '../../../../../utils/postParams.ts';
import { comparePostsByDate } from '../../../../../utils/comparePostsByDate';
import { getCollection } from 'astro:content';
import type { CollectionEntry } from "astro:content";

export async function getStaticPaths() {
    const posts = await getCollection('blog');
    return posts.map(post => ({
        params: getPostParams(post), props: { post },
    }));
}

const { year, month, day } = Astro.params;
const allPosts = await getCollection("blog");
const dayPosts = allPosts.filter(
    (post: any) => {
        const postParams = getPostParams(post);

        return year == postParams.year && month == postParams.month && day == postParams.day;
    }
);
const sortedPosts = dayPosts.sort(
    (a: CollectionEntry<'blog'>, b: CollectionEntry<'blog'>) => comparePostsByDate(a, b)
);

---

<BaseLayout>
	<h2>Daily archive: {year}-{month}-{day}</h2>
    <PostList posts={sortedPosts} />
</BaseLayout>
