---
import '../styles/global.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<html lang="en">
	<head>
		<!-- Script to change theme to dark mode if needed. -->
		<script is:inline>
			(function() {
				const theme = (() => {
					const localStorageTheme = localStorage?.getItem("theme") ?? '';
						if (['dark', 'light'].includes(localStorageTheme)) {
							return localStorageTheme;
						}
						if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
							return 'dark';
						}
						return 'light';
				})();
			  	if (theme === 'light') {
					document.documentElement.classList.remove('dark');
				} else {
					document.documentElement.classList.add('dark');
				}
			})();
		</script>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/kc-icon-1.svg" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spectral:300,300italic,600,600italic">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,300italic">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<!-- Open Graph (Facebook, LinkedIn, etc.) -->
		<meta property="og:title" content="Kitten Carnival" />
		<meta property="og:description" content="Thoughts and musings and silly short fiction." />
		<meta property="og:image" content="https://kittencarnival.com/social-preview.jpg" />
		<meta property="og:url" content="https://kittencarnival.com" />
		<meta property="og:type" content="website" />

		<!-- Twitter Cards -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="Kitten Carnival" />
		<meta name="twitter:description" content="Thoughts and musings and silly short fiction." />
		<meta name="twitter:image" content="https://kittencarnival.com/social-preview.jpg" />

		<title>Kitten Carnival</title>

	</head>
	<body>
		<Header />
		<slot />
		<br />
		<Footer />
	</body>
</html>