---
import PrevNextPostNav from '../components/PrevNextPostNav.astro';
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
---
<BaseLayout>
  <p class="pubDate">{frontmatter.pubDate.toISOString().slice(0, 10)}</p>
  <h2>{frontmatter.title}</h2>
  <div class="postBody">
    <slot />
  </div>

  <div class="tags">{frontmatter.tags.map((tag: any) => <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>)}</div>

  <PrevNextPostNav />

  <style>
    a {
      color: #00539F;
    }
  </style>
</BaseLayout>